# Ignore everything
*

# Do not ignore these specific files
!MCPServers/MCPServer_Pdf/
!MCPServers/MCPServer_Pdf/main.py
!MCPServers/MCPServer_Pdf/pyproject.toml

# Optional: allow .gitignore itself to be tracked
!.gitignore
